<style type="text/css">
  		#me{
  			border-radius: 50%;
  			border: 2px solid #D6CECE;
  		}
</style>
<section class="panel panel-default">
	<div class="panel-heading">
  		<center><h3 class="panel-title">About Me</h3></center>
  	</div>
  	<div class="list-group-item">
	  	<center>
			<img id="me" src="/images/me.jpg" alt="Me" />
			<br>
		</center>
		<br>
	  	<center><p>Heyo, I'm Bhrigu Srivastava.<br> 
	  	I love programming and I'm a django developer.<br>
	  	I live in New Delhi.</p></center>
	</div>
</section>
